*
{
    background-color: black;
    margin: 0;
    padding: 0;
}

.imgbox
{
    display: grid;
    height: 100%;
}

.image
{   
    Grid-column: 1/span 8;
    Grid-row: 1; 
    max-height: 100vh;
    margin: auto;  
z-index: 1; 
}

.blur
{
    grid-column: 1/span 8;
    grid-row: 1; 
    max-height: 100vh;
    margin: auto;  
    filter: blur(10vh);
}
